@import "montserrat-font";
@import "~antd/dist/antd";
@import "nprogress";


@font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol';

@table-padding-vertical: 8px;
@table-padding-horizontal: 8px;

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ant-layout-header {
    background: @white;
    overflow: hidden;

    .trigger {
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: @blue-5;
        }
    }
}

.ant-layout-sider {
    &-collapsed {
        .ant-layout-sider__logo {
            padding: 14px 8px;
        }

    }
    &__logo {
        padding: 22px 14px;
        transition: all .3s;

        img {
            width: 100%;
        }
    }
}

.ant-layout-content {
    &__full {
        margin: 24px 16px;
        background: @white;
        min-height: 280px;
    }
}
.ant-layout-footer {
    .copyright {
        text-align: right;
    }
}

.login-logo {
    padding-bottom: 16px;
    height: 128px;
    width: 300px;
}

.h-100 {
    min-height: 100vh;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.ql-toolbar.ql-snow {
    line-height: initial;
}

.ant-upload-list {
    max-width: 30%;
    margin: 0;
    padding: 0;

    &-item {
        position: relative;
        height: unset;

        div {
            height: 100%;
        }

        &-info {
            border-radius: 5px;
            padding: 10px;

            span {
                display: flex;
                align-self: center;

                i.anticon {
                    align-self: center;
                    display: block;
                    position: unset;
                    top: unset;
                    font-size: 20px;
                }
            }
        }
    }
}

.badge-green {
    color: #ffffff;
    background: #00ab6c;
    font-size: 12px;
    line-height: 1.6;
    min-height: 20px;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 4px;
    display: inline-flex;
}

.tox-notifications-container {
    left: -9999px !important;
}
